.burgerMenuIcon {
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 24px;
    height: 60px;
    background: #eaeaea;
    border-bottom: 1px solid #c3c3c3;
}

.header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    color: black;

}